    <footer class="oleez-footer">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../static/images/Logo_1.svg" alt="oleez" class="footer-logo">
                        <p class="footer-intro-text">Connect with CareGivers!</p>
                        <nav class="footer-social-links">
                            <a href="#!">Fb</a>
                            <a href="#!">Tw</a>
                            <a href="#!">In</a>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 footer-widget-text">
                                <h6 class="widget-title">PHONE</h6>
                                <p class="widget-content">(111) 222-3333</p>
                            </div>
                            <div class="col-md-6 footer-widget-text">
                                <h6 class="widget-title">EMAIL</h6>
                                <p class="widget-content">caregivers@example.com</p>
                            </div>
                            <div class="col-md-6 footer-widget-text">
                                <h6 class="widget-title">ADDRESS</h6>
                                <p class="widget-content">123 Main St. <br> Nashville, TV</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-text">
                <p class="mb-md-0">©  2021, Blog created in partnership with <a href="https://www.dropbysolutions.com" target="_blank" rel="noopener noreferrer" class="text-reset">dropBy</a></p>
            </div>
        </div>
    </footer>