{% include "header.html" %}

    <main class="blog-standard">
        <div class="container">
            <h1 class="oleez-page-title wow fadeInUp">Recent Posts</h1>
            <div class="row">
                    <div class="col-md-8">
                        {% for post in posts %}
                        <article class="blog-post wow fadeInUp">
                            <img src="{{ post.img_url }}" alt="blog post banner image" class="post-thumbnail">
                            <p class="post-date">{{ post.publish_date }}</p>
                            <p class="post-date">{{ post.author }}</p>
                            <h4 class="post-title">{{ post.title }} <a href="{{ url_for('delete_post', post_id=post.id) }}">❌</a> <a href="{{ url_for('edit_post', post_id=post.id) }}">✏️</a></h4>
                            <p class="post-excerpt">{{ post.body }}</p>
                            <a href="#!" class="post-permalink">READ MORE</a>
                        </article>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar-widget wow fadeInUp">
                            <h5 class="widget-title">Tags</h5>
                            <div class="widget-content">
                                {% for tag in all_tags %}
                                <a href="#!" class="post-tag">{{ tag.tag_title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </main>

    <!-- Modals -->
    <!-- Full screen search box -->
    <div id="searchModal" class="search-modal">
        <button type="button" class="close" aria-label="Close" data-dismiss="searchModal">
            <span aria-hidden="true">&times;</span>
        </button>
        <form action="index.html" method="get" class="oleez-overlay-search-form">
            <label for="search" class="sr-only">Search</label>
            <input type="search" class="oleez-overlay-search-input" id="search" name="search" placeholder="Search here">
        </form>
    </div>
    <script src="assets/vendors/popper.js/popper.min.js"></script>
    <script src="assets/vendors/wowjs/wow.min.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/vendors/fancybox/jquery.fancybox.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

{% include "footer.html" %}

</html>